<!DOCTYPE html>
<html>
<head>
    <title></title>
    <%- include header.ejs %>
</head>
<body>
<%- include toolbar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>
<%- include footer.ejs %>
</body>
</html>
