<!DOCTYPE html>
<html>
<head>
    <title></title>
    <%- include header.ejs %>
</head>
<body>
<%- include toolbar.ejs %>
<div class="container-fluid" style="margin-top: 80px">
    <div class="row">
        <!--<div class="col-md-3">-->

        <!--</div>-->
        <div class="col-md-12">
            <div id="containerBoth">

            </div>
        </div>
        <!--<div class="col-md-3">-->

        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="container1">

            </div>
        </div>
        <div class="col-md-4">
            <div id="container2">

            </div>
        </div>
        <div class="col-md-4">
            <div id="container3">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="container4">

            </div>
        </div>
        <div class="col-md-4">
            <div id="container5">

            </div>
        </div>
        <div class="col-md-4">
            <div id="container6">

            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>
</body>
</html>
