<!DOCTYPE html>
<html>
<head>
    <title></title>
    <%- include header.ejs %>
</head>
<body>
<%- include toolbar.ejs %>

<div class="container-fluid" style="margin-top: 80px">
    <h1 align="center">Dashboard</h1>
    <div class="row">
        <div class="col-md-8">
            <div id="containerBoth">
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" data-calendar-nav="prev"><< Prev</button>
                <button class="btn btn-sm" data-calendar-nav="today">Today</button>
                <button class="btn btn-primary btn-sm" data-calendar-nav="next">Next >></button>
                <button class="btn btn-warning btn-sm" data-calendar-view="month">Month</button>
            </div>

            <div id="containerCalendar">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="container1">
            </div>
        </div>
        <div class="col-md-4">
            <div id="container4">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="container3">
            </div>
        </div>
        <div class="col-md-4">
            <div id="container6">
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>
</body>
</html>
