<!DOCTYPE html>
<html>
<head>
    <title></title>
    <%- include header.ejs %>
</head>
<body>
<%- include toolbar.ejs %>

<div class="container-fluid" style="margin-top: 80px">
    <div class="row">
        <div class="col-md-12">
            <table id="chargeSettingTable" data-show-export="true"></table>
        </div>
    </div>
</div>
<%- include footer.ejs %>
</body>
</html>
