<!DOCTYPE html>
<html>
<head>
    <title>Minimum Setup</title>
    <%- include header.ejs %>
</head>
<body>

<div id="calendar"></div>




<%- include footer.ejs %>
<script type="text/javascript">
    var calendar = $("#calendar").calendar(
            {
                tmpl_path: "/javascripts/bootstrap-calendar/tmpls/",
                events_source: function () {
                    return [];
                }
            });
</script>
</body>
</html>